<div class="container mt-3 mb-4">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="mb-4">Access Denied</h2>
            <p>You need to be logged in to access this page.</p>
            <a href="/auth/login" class="btn btn-primary me-2">Log in</a>
            <a href="/auth/signup" class="btn btn-outline-primary">Sign up</a>
        </div>
    </div>
</div>
